<a href="/movies/">Go back</a>

<div class="detail">
    <div class="image">
        {{#each peli }}
        <img src="{{ image }}">
    </div>
    <div class="movie-detail">
        <h3>{{ title }}</h3>
        <span>{{ director }}</span>
            {{#each stars }}
                <ul>
                    <li>{{ this }}</li>
                </ul>
            {{/each}}
        <p>{{ description }}</p>
        <p>{{ showtimes }}</p>
    {{/each}}
    </div>
</div>